<section>
	<h2>Login</h2>
	<label>
		<input type="text" name="email" value="Email" required />
		<input type="text" name="password" value="Password" required />
	</label>
	<label>
		<input type="checkbox" name="remember" value="Remember Me" />
		<a href="#">Forgote Password?</a>
	</label>
	<button>LOGIN</button>
	<p>Or sing in with a social account</p>
	<a href="#"><img src="../images/twitter.png" alt="Twitter" /></a>
	<a href="#"><img src="../images/facebook.png" alt="Facebook" /></a>
</section>